@use "../../../styles/import" as *;

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  margin-top: 10rem;
}

.footerText {
  opacity: 0.4;
  text-align: center;
  letter-spacing: 0.05em;
  small {
    font-size: 0.8rem;
  }
}
