@use "../../../styles/import" as *;

@layer components {
  .button {
    display: block;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    font-size: 1.4rem;
    border-radius: 999px;
    padding: 1.1rem 2rem 1rem 2rem;
    letter-spacing: 0.05em;
    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;

    font-family: var(--font-en);

    text-transform: uppercase;

    white-space: nowrap;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-white);
      border-radius: 999px;
      box-shadow: 0 0 3rem var(--color-white);
      opacity: 0;
      z-index: -1;
    }

    @media (hover: hover) {
      transition: all 0.4s $easeOutQuart 0s;

      &::before {
        transition: all 0.2s $easeOutQuart 0s;
      }

      &:hover {
        background-color: var(--color-white);
        color: #000;

        &::before {
          opacity: 0.7;
        }
      }

      &:active {
        transform: scale(0.93);
      }
    }
  }
}
