@use "../../../styles/import" as *;

.wrap {
  padding-top: 20.3rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 1;

  @include media-max("sp-s") {
    padding-top: 18rem;
  }
}

.inner {
  max-width: 108rem + 4rem + 4rem;
  margin: 0 auto;
  padding: 0 4rem;

  @include media-max("sp-s") {
    padding: 0 2rem;
  }
}

.title {
  color: #fff;

  font-size: 2.4rem;
  letter-spacing: 0.1em;
  font-weight: 500;

  text-align: center;
}

.lead {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  font-family: var(--font-en);
  margin-top: 3rem;

  @include media-max("sp-s") {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }
}

.navArea {
  margin-top: 4rem;

  @include media-max("sp-s") {
    margin-top: 3rem;
  }
}

.contents {
  position: relative;
  margin-top: 10rem;

  @include media-max("sp-s") {
    margin-top: 6rem;
  }
}

.list {
  display: flex;
  gap: 6rem 6rem;
  flex-wrap: wrap;

  @include max(600) {
    gap: 3rem 2rem;
  }
}

.item {
  width: calc(100% / 3 - 6rem * 2 / 3);

  @include minmax(601, 900) {
    width: calc(100% / 2 - 6rem / 2);
  }

  @include max(600) {
    width: calc(100% / 2 - 2rem / 2);
  }
}
