@use "../../../styles/import" as *;

@layer components {
  .card {
    width: 100%;

    @media (hover: hover) {
      &:hover {
        .imgCover {
          animation: flash 1.2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
        }
      
        img {
          transform: scale(1.03);
        }
      
        .imgLink {
          transition: none;
          border-color: var(--color-white);
        }
      }
    }
  }

  .imgLink {
    display: block;
    aspect-ratio: 6 / 3.5;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0);

    transition: border-color 0.6s $easeOutQuint 0s;
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.6s $easeOutQuint 0s;
  }

  .imgCover {
    pointer-events: none;
    background: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .textArea {
    margin-top: 1rem;
  }

  .title {
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .gitIcon {
    width: 1.8rem;
    min-width: 1.8rem;
    max-width: 1.8rem;
    height: auto;
    aspect-ratio: 98 / 96;
    flex-shrink: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      transition: all 0.2s $easeOutQuart 0s;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: #ffffffb3;
          transition: all 0.2s $easeOutQuart 0s;
        }
      }

      @media (hover: hover) {
        &:hover {
          box-shadow: 0 0 2rem #fff;

          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .tagList {
    margin-top: 1rem;
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .date {
    font-size: 1.2rem;
    letter-spacing: 0.1em;

    margin-top: 0.8rem;
    line-height: 1;
  }
}

@layer utils {
  .imgCover {
    &.--on {
      animation: flash 1.2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    }
  }

  img {
    &.--on {
      transform: scale(1.03);
    }
  }

  .imgLink {
    &.--on {
      transition: none;
      border-color: var(--color-white);
    }
  }
}
